#dash-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $m-size;
    text-align: center;
    color: whitesmoke;

    @media (max-width: $desktop-breakpoint ) {
        flex-direction: column;
        margin: $m-size 0;
        padding: $l-size;
    }
}

.dashboard__category{
    display: block;
    background: #74C69D;
    border-radius: 32px;
    text-decoration: none;
    width: 24rem;
}

.category{
    display: block
}

.add-note-btn{
    display: flex;
    justify-content: center;
    margin: $s-size;
}