#dash-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $s-size;
    text-align: center;
    color: whitesmoke;

    @media (max-width: $desktop-breakpoint ) {
        flex-direction: column;
        margin: $m-size 0;
        padding: $l-size ;
    }
}

.add-note-btn{
    display: flex;
    justify-content: center;
    margin: $s-size;
    animation: bounceInDown; 
    animation-duration: 1s;
}
.add:hover{
    animation: bounce; 
    animation-duration: 1s;
}

.animate_edit{
    animation: fadeIn; 
    animation-duration: 1s;
}