.note__items{
    display: block;
    margin: 0 0 3rem 0 ;
    line-height: 1;
    border-radius: 0;
    font-weight: 300;
    text-align: left;
    font-size: $s-size;
    
}

.note{
    text-decoration: none;
    color: #D8F3DC;
}